<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzin.mapper.BoardMapper">

    <insert id="insert" parameterType="org.zzin.domain.BoardVO">
        insert into tbl_board
            (title,content,writer)
        values
            (#{title},#{content},#{writer})
    </insert>
    <select id="select" parameterType="Long" resultType="org.zzin.domain.BoardVO">
        select *
        from tbl_board
        where bno = #{l}
    </select>

    <select id="getList" resultType="java.util.Map" parameterType="org.zzin.dto.PageDTO" >
        select *
        from  tbl_board
        where bno > 0
        order by bno desc
        limit #{skip}, #{amount}
    </select>

    <select id="getTotal" resultType="int" parameterType="org.zzin.dto.PageDTO">
        select count(bno) from tbl_board
        where bno > 0
        <foreach collection="typeArr" item="type" separator="OR" open="AND (" close=")">
            <if test='type.equals("t")'>
                title like concat ('%', #{keyword},'%')
            </if>
            <if test='type.equals("c")'>
                content like concat ('%', #{keyword},'%')
            </if>
            <if test='type.equals("w")'>
                writer like concat ('%', #{keyword},'%')
            </if>
        </foreach>
    </select>

    <update id="update" parameterType="org.zzin.domain.BoardVO">
        update tbl_board
        set
            title = #{title},
            content = #{content},
            moddate = now()
        where
            bno = #{bno}
    </update>
    <delete id="delete" parameterType="Long">
        delete
        from tbl_board
        where bno=#{l}
    </delete>
</mapper>